<html>
<head>
  <title>Авторизация</title>
  <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        
        .result {
            text-align: center;
        }
        .error {
            color:#ff0000
        }
        .error1 {
            color:#00ff00
        }
    </style>
    {% block head %}
    {% endblock %}
</head>
<body>
{% block content %}
Основное содержимое
{% endblock %}
</body>
</html>
